<div class="container" rpc-controller="rootCtrl" rpc-channel="status">
    <h3>Whole DB has {{totalSize}}</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Size</td>
        </tr>
        </thead>
        <tr ng-repeat="database in databases">
            <td>{{$index}}</td>
            <td><h5>{{database.name}}</h5></td>
            <td><span ng-bind="database.sizeOnDisk"></span></td>
        </tr>
    </table>

</div>
